*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: black;
}

#div1 {
   
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    padding: 0;
    gap: 15px;
}


h2 { 
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}
h4{
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: brown;
    font-size: 4rem;
    
}

.container{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    
    width: 100%;    
    height: 100%;
    
    padding: 30px;
    
    

}

.informacion{
    
    display: flex;
    flex-direction: column;
    
    text-decoration: none;
    border: none;
}

.boton{
    border-radius: 20px;
    padding: 5px 20px;
}

.input{
    padding: 5px 20px;
    text-decoration: none;
}

.cards {
    border-radius: 10px;
    padding: 8px 0;
    background-color: orange;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    max-height: 480px;
    list-style: none;
    max-height: 500px;
}

.nombre {
    font-weight: 700;
    font-size: 2rem;
    text-align: center;  
    color: white;
}

.img{
    width: 100%;
    
}
.img img {
    width: 100%;
    max-height: 225px;
}

.ingredientes{
    padding: 20px;
    text-align: center;
    font-size: 1.4rem;
    color:  brown;
}

.precio {
    text-align: center;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
}


